body {
	font-family: Montserrat;
	background-color: hsl(30, 38%, 92%);
	color: black;
	max-width: 1440px;
	box-sizing: border-box;
	position: absolute;
	top: 15%;
	left: 30%;
	width: 40%;
	height: 70%;
	font-size: 16px;
}

.price,
.name {
	font-family: Fraunces;
}

main {
	background-color: aliceblue;
	border-radius: 10px;
}

.text-title {
	text-align: left;
	padding: 35px 15px 0 0;
	margin-top: 10px;
	font-size: 15px;
	letter-spacing: 5px;
}

.transparent,
.initial-price {
	opacity: 0.8;
}

.perfume-pic {
	float: left;
	padding-right: 20px;
	width: 50%;
	border-radius: 10px;
}

.name {
	font-size: 35px;
	margin: 0 auto;
	padding: 0 auto;
	line-height: 35px;
	padding-right: 45px;
	font-weight: bold;
}

#descriprtion {
	font-size: 14px;
	padding-right: 2em;
	margin-bottom: 0;
}

.new-price {
	color: hsl(158, 36%, 37%);
	display: inline-block;
	font-size: 30px;
	margin-top: 5%;
	padding-bottom: 0;
	margin-right: 5px;
	/* margin-bottom: 10%; */
	padding: 2px;
}

.initial-price {
	display: inline-block;
	text-decoration: line-through;
	bottom: 5px;
	font-size: 15px;
	padding-bottom: 0;
}

.buy-button {
	background-color: hsl(158, 36%, 37%);
	color: white;
	padding-top: 0;
	margin-top: 0;
	width: 16em;
	height: 50px;
	border-radius: 10px;
	border: none;
	margin-right: 2em;
	margin-bottom: 2em;
}

button:hover {
	cursor: pointer;
	background-color: hsl(158, 73%, 21%);
}

button:focus {
	border: 1px solid black;
}

.cart-icon {
	padding-right: 5px;
}

@media screen and (max-width: 375px) {
}
